
/* MAIN STYLES */
@font-face {
    font-family: "Bellefair";
    src: url("fonts/Bellefair-Regular.ttf");
}


body {
    font-family: "Bellefair", 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.mainContainer {
    color: #000000;
}

.darkgreenBG {
    background-color: #566456;
    color: #ffffff;
    top: 0;
    height: 500px;
    width: auto;
}



/* HEADER */
header {
    background-color: #566456;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.logo {
    width: 170px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.2rem;
}

li a:hover {
    color: #D6E2E0;
}

.bookingButton a {
    text-decoration: none;
    color: #000000;
}


.bookingButton {
	box-shadow:inset 0px 37px 0px -15px #e7e8bd;
	background-color:#dfe0a2;
	border:1px solid #e7e8bd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:13px 27px;
	text-decoration:none;
	text-shadow:1px 1px 2px #71713f;
}
.bookingButton:hover {
	background-color:#e7e8bd;
}
.bookingButton:active {
	position:relative;
	top:1px;
}



/* OVER THE FOLD */
.welcomePageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: #566456;
    color: #ffffff;
    padding-top: 5rem;
    position: relative;
}

.welcomePageContainer h1 {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.8rem;
}

.welcomePageContainer #mainImage {
    width: 400px;
    height: auto;
    padding-bottom: 6rem;
}

.welcomePageContainer .bedsheets {
    position: absolute;
    height: 300px;
    width: auto;
    top: 440px;
    left: 550px;
}

.welcomePageContainer .plants {
    position: absolute;
    height: 450px;
    width: auto;
    top: 400px;
    left: 770px;
}

.welcomePageContainer p {
    letter-spacing: 0.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 340px;
    left: 130px;
}

.welcomePageContainer button.bookingButton {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 130px;
    top: 390px;
}



/* ABOUT PAGE */
.aboutPage {
    margin: 10rem;
    margin-top: 20rem;
}

.aboutPage .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutPage .lightblueBox {
    height: 40px;
    width: 70vw;
    background-color: #D6E2E0;
}



/* GALLERY PART */
.mainGallery h4 {
    color: #2f2f2f;
    letter-spacing: 0.2rem;
}

.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainGallery .theGrid {
    background-color: #566456;
    padding: 1.5rem 14rem 1.5rem 14rem;
}

.theGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.theGrid img {
    width: 250px;
    height: 250px;
}

img.cover {
    object-fit: cover;
}

.galleryButton a {
    text-decoration: none;
    color: #000000;
}


.galleryButton {
	box-shadow:inset 0px 37px 0px -15px #cde3df;
	background-color:#D6E2E0;
	border:1px solid #D6E2E0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:13px 27px;
	text-decoration:none;
	text-shadow:1px 1px 2px #75908b;
}
.galleryButton:hover {
	background-color:#b9dfd9;
}
.galleryButton:active {
	position:relative;
	top:1px;
}

button.galleryButton {
    margin-top: 1rem;
    margin-bottom: 10rem;
}



/* A SPACER */
.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aLittleSpaceThing {
    background-color: #D6E2E0;
    width: 700px;
    height: 20px;
}



/* CUSTOMERS */
.customersPart h4 {
    color: #2f2f2f;
    letter-spacing: 0.2rem;
}

.customersPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 7rem;
}

.customersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridAgain {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 3rem;
}

img.customerIMG {
    width: 400px;
    height: auto;
    box-shadow: 12px 12px 10px #5d6c59;
}

.review {
    background-color: #D6E2E0;
    padding: 20px;
    max-height: 240px;
    line-height: 1.6rem;
    box-shadow: 12px 12px 10px #5d6c59;
}

.left-button, .right-button {
	box-shadow:inset 0px 37px 0px -15px #566456;
    box-shadow: 3px 3px 5px #3a4138;
	background-color:#6e806e;
	border:1px solid #566456;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size: 20px;
	font-weight:bold;
	padding: 0;
	text-decoration:none;
	text-shadow:1px 1px 2px #909072;
    width: 30px;
    height: 30px;
}
.left-button:hover, .right-button:hover {
	background-color:#566456;
}
.left-button:active, .right-button:active {
	position:relative;
	top:1px;
}



/* PRICING */
.pricingPart h4 {
    color: #2f2f2f;
    letter-spacing: 0.2rem;
}

.pricingPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.pricingGrid {
    gap: 2rem;
}

.priceOne, .priceTwo, .priceThree, .priceFour {
    background-color: #566456;
    color: #ffffff;
    padding: 3rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.services {
    letter-spacing: 0.6rem;
    font-size: 1rem;
}

.service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pricingGrid li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: disc;
}



/* EXTRA THINGS */
.extra {
    position: relative;
    margin: 0.5rem;
    display: flex;
    background-color: #D6E2E0;
}

.extra img {
    width: 300px;
    height: auto;
}

.extra h1 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    letter-spacing: 1.5rem;
}

.extra .woodentable {
    position: absolute;
    left: 900px;
    top: 220px;
    height: 380px;
    width: auto;
}

.extra .darkinterior {
    position: absolute;
    top: -90px;
    left: 700px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



/* LAST REMINDER */
.lastReminder {
    margin: 10rem;
}
.lastReminder .greenContainer {
    background-color: #566456;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
    padding: 3rem;
}

.greenContainer p {
    margin-bottom: 4rem;
}


/* FOOTER */

footer .information {
    background-color: #D6E2E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer img {
    width: 170px;
    height: auto;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    letter-spacing: 0.3rem;
}

.social li img {
    height: 30px;
    width: 30px;
}

.social ul {
    gap: 1rem;
}

footer.secondF .designersCopyright {
    background-color: #566456;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 0.7rem;
    height: 60px;
    width: auto;
}